[submodule "homepage/themes/terminal"]
	path = homepage/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "homepage/themes/ananke"]
	path = homepage/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "homepage/themes/hugo-theme-techdoc"]
	path = homepage/themes/hugo-theme-techdoc
	url = https://github.com/thingsym/hugo-theme-techdoc.git
[submodule "homepage/themes/fuji"]
	path = homepage/themes/fuji
	url = https://github.com/dsrkafuu/hugo-theme-fuji.git
[submodule "homepage/themes/LoveIt"]
	path = homepage/themes/LoveIt
	url = https://github.com/dillonzq/LoveIt.git
[submodule "web/themes/dot-org-hugo-theme"]
	path = web/themes/dot-org-hugo-theme
	url = https://github.com/cncf/dot-org-hugo-theme.git
